.control-center {
    background-color:antiquewhite;
    font-family: Gill Sans, sans-serif;
}

.manual-input {
    background-color:blanchedalmond;
    font-family: Gill Sans, sans-serif;
}

.predetermined-sequence {
    background-color: powderblue;
    font-family: Gill Sans, sans-serif;
}

.title {
    background-color: aquamarine;
    font-family: Gill Sans, sans-serif;
}